#body {
    margin : 0;
    padding: 0;
    color  : rgb(117, 57, 8);
}

.card {
    margin-bottom: 0.625rem;
}

a {
    text-decoration: none;
    color          : #fff;
}

.cards {
    margin-right : 1.25rem;
    margin-bottom: 1.25rem;
}

.col-12.col-md-6.col-lg-4.card-container {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.row {
    display    : flex;
    align-items: center;
}