#body{
    margin: 0;
    padding: 0;
    color: rgb(117, 57, 8);
}

.card{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.cards{
    margin-right: 20px;
    margin-bottom: 20px;
} 

